
.rollover .box-share {
position: absolute;
top: 50%;
left: 0;
width: 100%;
margin-top: -21px;
text-align: center;
z-index: 10;
visibility: hidden;
opacity: 0;

-webkit-transition: all .25s ease-out;
transition: all .25s ease-out;
}
.rollover .box-share li {
display: inline-block;
margin: 5px 5px;
width: 42px;
height: 42px;

}
.rollover .box-share li .bt {
display: block;
height: 42px;
background-size: 100%;
text-indent: -23em;
overflow: hidden;
cursor: pointer;
opacity: .75;
overflow: hidden;

-webkit-transition: all .25s ease-out;
transition: all .25s ease-out;
}
.rollover .box-share li .bt:hover {
opacity: 1;
}
.rollover .box-share li .bt.twitter {
background-image: url(../images/share/twitter.svg);
}
.rollover .box-share li .bt.facebook {
background-image: url(../images/share/facebook.svg);
}
.rollover .box-share li .bt.pinterest {
background-image: url(../images/share/pinterest.svg);
}
.rollover .box-share li .bt.google {
background-image: url(../images/share/google.svg);
}
.rollover .box-share li .bt.stumbleupon {
background-image: url(../images/share/stumbleupon.svg);
}

.rollover .box-share li .bt.bt-url {
position: static;
width: 38px;
height: 38px;
margin: 0;
border: 2px solid #3c948b;
border-radius: 50%;
opacity: 1;
}
.rollover .box-share li .bt.bt-url:before {
width: 38px;
height: 38px;
line-height: 38px;
font-size: 29px;
color: #3c948b;

-webkit-transition: all .25s ease-out;
transition: all .25s ease-out;
}
.rollover .box-share li .bt.bt-url:hover {
border-color: #fff;
}
.rollover .box-share li .bt.bt-url:hover:before {
color: #fff;
}

.rollover:hover .box-share {
visibility: visible;
opacity: 1;
}